<br>
<div class="container">
    <H1>FORMULARIO DE
        <STRONG>ADOPCIÓN</STRONG>
    </H1>
<hr>
</div>

<div class="container">
    <p><img src="assets/advertencia.ico" height="20px" > Por favor antes de llenar el formulario verificar que cumple con los requisitos de adopción</p> 
  <div [class]="responsive">

    <div class="card">
       
        <div class="card-body">
            <form [formGroup]="formAdopcion" (ngSubmit)="guardarFormularioA()" novalidate>

                <input formControlName="id_formulario" type="text" type="hidden">

                <div class="form-group">
                    <h3>Nombre</h3>
                    <input [ngClass]="{'is-invalid':(formAdopcion.get('nombre')?.touched || formAdopcion.get('nombre')?.dirty) && formAdopcion.get('nombre')?.invalid}" formControlName="nombre"  type="text" class="form-control">

                    <div class="invalid-feedback">
                        <span *ngIf="formAdopcion.get('nombre').hasError('required')">Requerido </span>
                        <span *ngIf="!formAdopcion.get('nombre').hasError('minLength')">Mínimo 3 Caracteres</span>
                    </div>
                </div>

                <div class="form-group">
                    <h3>Apellido</h3>
                    <input [ngClass]="{'is-invalid':(formAdopcion.get('apellido')?.touched || formAdopcion.get('apellido')?.dirty) && formAdopcion.get('apellido')?.invalid}" formControlName="apellido"  type="text" class="form-control">

                    <div class="invalid-feedback">
                        <span *ngIf="formAdopcion.get('apellido').hasError('required')">Campo Requerido </span>
                        <span *ngIf="!formAdopcion.get('apellido').hasError('minLength')">Mínimo 3 Caracteres</span>
                    </div>
                </div>

                <div class="form-group">
                    <h3>Direccion</h3>
                    <input [ngClass]="{'is-invalid':(formAdopcion.get('direccion')?.touched || formAdopcion.get('direccion')?.dirty) && formAdopcion.get('direccion')?.invalid}" formControlName="direccion"  type="text" class="form-control">
                </div>

                <div class="form-group">
                    <h3>DNI</h3>
                    <input [ngClass]="{'is-invalid':(formAdopcion.get('dni')?.touched || formAdopcion.get('dni')?.dirty) && formAdopcion.get('dni')?.invalid}" formControlName="dni"  type="value" class="form-control">
                </div>

                <div class="form-group">
                    <h3>Telefono</h3>
                    <input [ngClass]="{'is-invalid':(formAdopcion.get('telefono')?.touched || formAdopcion.get('telefono')?.dirty) && formAdopcion.get('telefono')?.invalid}" formControlName="telefono" type="value" class="form-control">

                    <div class="invalid-feedback">
                        <span *ngIf="formAdopcion.get('telefono').hasError('required')">Campo Requerido </span>
                        <span *ngIf="!formAdopcion.get('telefono').hasError('minLength')">Mínimo 8 Caracteres</span>
                    </div>
                </div>

                <div class="form-group">
                    <h3>Gmail</h3>
                    <input [ngClass]="{'is-invalid':(formAdopcion.get('correo')?.touched || formAdopcion.get('correo')?.dirty) && formAdopcion.get('correo')?.invalid}" formControlName="correo"  type="email" class="form-control">
                </div>

                <div class="form-group">
                    <h3>Nombre Canino</h3>
                    <select formControlName="canino" class="form-control">
                    <option value="0" disabled selected>Seleccionar Canino</option>
                    <option *ngFor="let canino of lista_caninos" [value]="canino.id_canino">{{canino.nombre}}</option>
                </select>
                </div>

                <div class="form-group">
                    <h3>Provincia</h3>
                    <select (change)="dameLocalidades($event.target.value)" formControlName="provincia_id" class="form-control">
                    <option value="0" disabled selected>Seleccionar Provincia</option>
                    <option *ngFor="let provincia of lista_provincia" [value]="provincia.id">{{provincia.nombre}}</option>
                </select>
                </div>

                <div class="form-group">
                    <h3>Localidad</h3>
                    <select formControlName="id_localidad" class="form-control">
                    <option value="0" disabled selected>Seleccionar Localidad</option>
                    <option *ngFor="let localidades of lista_localidades" [value]="localidades.id_localidad">{{localidades.nombre}}</option>
                </select>
                </div>


                <div class="form-group">
                    <input [ngClass]="{'is-invalid':(formAdopcion.get('requisito')?.touched || formAdopcion.get('requisito')?.dirty) && formAdopcion.get('requisito')?.invalid}" formControlName="requisito" placeholder="Requisito" type="hidden" class="form-control">
                </div>

                <button class="btn btn-primary">Enviar</button>
            </form>
        </div>
    </div>
  </div>
</div>
<br>
<br>

<app-pie></app-pie>
  


