<div class="div container">
    <br>
    <div class="Spacer TitleText_title-text__16lAf" >
        <h1 class="Heading_title__D47fZ TitleText_title__3squ5 Heading_magnitude-2__3nlAC Heading_no-uppercase__1FYqt">
            <strong>¿QUE HACEMOS?</strong>
       
        </h1>
    </div>
    <br>
    <br>
   
        <div class="row">
            <div class="col-md-4 mx-auto">
                    <img src="assets/adopcion.jpg" width="60%">
                <h3>CASTRACIONES</h3>
                <P>Realizamos castraciones masivas de manera gratuita.<br>
                Los animales se siguen reproduciendo y el estado aun no entiende las políticas éticas de equilibrio poblacional de perros y gatos.
                </P>
                
                
            </div>
            <div class="col-md-4 mx-auto">
                <img src="assets/abandono.jpg" width="60%">
                <h3>CONCIENTIZAR</h3>
                <P>Nos encargamos de concientizar a la poblacion sobre la importancia de las castraciones atravez de charlas en los colegios o por redes sociales.
                  <br>¡El abandono es responsabilidad de todos!
                </P>
            </div>
            <div class="col-md-4 mx-auto">
                <img src="assets/adopcion.jpg" width="60%">
                <h3>ADOPCION</h3>
                <P>Esta agrupación se encarga de buscarle un hogar a cada uno de los jordanes</P>
            </div>
        </div>
    
        

    

        <br>
        <br> 
    <br>
    
   <!--<img src="assets/nosotros.jpg" class="d-block w-100" alt="">
    <br> --> 
    <br>
    <br>
    <br>
    <div class="Spacer TitleText_title-text__16lAf" >
        <h1 class="Heading_title__D47fZ TitleText_title__3squ5 Heading_magnitude-2__3nlAC Heading_no-uppercase__1FYqt">
          NUESTROS  OBJETIVOS
        </h1>
    </div>
    <br>
    
    <p>
        <li>Nuestro principal objetivo es lograr cerrar la perrera ubicada en Cipolletti, Rio Negro. Esto solamente es posible logrando dar en adopción responsable a cada uno de los jordanes</li>
    </p>
    <p>
        <li>Fomentar el equilibrio poblaciononal de animales </li>
    </p>
    <p>
        <li>Reducir la sobrepoblación de perros </li>
    </p>

    <br>
    <br>
    <div class="video">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/kQyBugZiQIc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <br>
    <br>
    <br>
    <br>
   
   
   

</div>
