
element.style {
    padding: 0rem 1.875rem;
}
.TitleText_title-text__16lAf {
    max-width: 40rem;
   

}




.Heading_title__D47fZ.Heading_no-uppercase__1FYqt {
    text-transform: none;
}

.TitleText_title__3squ5 {
    width: 70%;
   
}
.Heading_magnitude-2__3nlAC {
    font-size: 1.375rem;
    line-height: 1.875rem;
}


.Heading_title__D47fZ {
    font-size: 1.75rem;
    line-height: 2.1875rem;
}
.Heading_title__D47fZ {
    font-weight: 700;
    letter-spacing: .0625rem;
    line-height: 1.875rem;
    margin-bottom: 0;
    margin-top: 0;
    text-transform: uppercase;
}

h1 {
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.Heading_title__D47fZ:not(.Heading_ornament-on-mobile__16QpF):after {
    display: block;
}

.Heading_title__D47fZ:not(.Heading_ornament-on-mobile__16QpF):after {
    display: block;
}

.Heading_title__D47fZ:after {
    background: linear-gradient(
131.14deg
,#F89738 4.53%,#F89738 70.61%,#F89738 102.64%)!important;
    content: "";
    margin-top: 15px;
    height: .225rem;
    width: 3.75rem;
}

h3{
    text-align: center;
    font-weight: 700;
    letter-spacing: .0625rem;
    font-size: 3vh;
    
}

.que_hacemos p{
    text-align: center;
    letter-spacing: .0625rem;
    font-size: 2vh;
    padding: 1vh;
}

img{
    display:block;
    margin:auto;
}

.video{
    justify-content: center;
    display: flex;
}

.que_hacemos{
    justify-content: center;
    display: flex;
}

.btn-wsp{
    position:fixed;
    width:60px;
    height:60px;
    line-height: 63px;
    bottom:25px;
    right:25px;
    background:#25d366;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    font-size:30px;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.3);
    z-index:100;
    transition: all 300ms ease;
}
.btn-wsp:hover{
    background: #20ba5a;
}
@media only screen and (min-width:320px) and (max-width:768px){
    .btn-wsp{
        width:63px;
        height:63px;
        line-height: 66px;
	}
}