<footer>
    <div class="site-footer">
        <div class="row">

            <div class="col-md-3">
                <p> La Guardería Municipal tiene mas de 500 perros abandonados. ARG - RN<br>
                    SOMOS UN GRUPO DE VOLUNTARIOS QUE ASISTE AL LUGAR PARA LIMPIAR ALIMENTARLOS Y BUSCAR ADOPCIÓN.</p>
                   <br>
                    <a class="icon" href="https://www.facebook.com/guarderiacaninaislajordancipolletti"  target="_blank"><i class="fab fa-facebook-f"></i></a>
                    <a class="icon" href="https://api.whatsapp.com/send?phone=5492994194451&fbclid=IwAR2rF6hLXZDdD9q5IzmUwCI1t1zlGnhTJZ8z5iN8tr5guwwmgVMuBYJgZwM"  target="_blank"><i class="fab fa-whatsapp"></i></a>
                    <a class="icon" href="https://www.instagram.com/guarderia_canina_isla_jordan/"  target="_blank"><i class="fab fa-instagram"></i></a>
                    <a class="icon" href="https://youtube.com/channel/UCUPQJLkfeU0-2yLSS7Db2Eg"  target="_blank"><i class="fab fa-youtube"></i></a>
            </div>
            <div class="col-md-3">
               
                </div>
    
               
            
            <div class="col-md-2">      
                 <h3>Fundación SOS</h3>
                 <a routerLink="/home"><p>INICIO </p></a> 
                 <a routerLink="/nosotros"><p>NOSOTROS </p></a> 
                 <a routerLink="/nuestros-eventos"><p>EVENTO</p></a> 
                 <a routerLink="/contacto"><p>CONTACTO </p></a>  
            <br>
            </div>
    
    
            <div class="col-md-2">      
                <h3>Adopción </h3>
                <a routerLink="home"><p>JORDANES</p></a> 
                <a routerLink="nosotros"><p>REQUISITOS</p></a> 
               
               
           <br>
           </div>
           <div class="col-md-2">      
                <h3>Colaborar</h3>
                <a routerLink="home"><p>DONAR </p></a> 
                <a routerLink="nosotros"><p>TIENDA </p></a> 
           <br>
           </div>
        </div>
       
    </div>
    
    <div class="copy">
        © Copyright 2021 Fundación SOS Animal
    </div>  
</footer>
