<footer>
    <div class="row">
        <div class="col-6">      
             <h4><strong>Menu</strong> </h4>
             <a routerLink="home"><p>INICIO </p></a> 
             <a routerLink="nosotros"><p>NOSOTROS </p></a> 
             <a routerLink="nuestros-eventos"><p>EVENTOS</p></a> 
             <a routerLink="nuestros-jordanes"><p>JORDANES </p></a> 
           
             
             
        <br>
        </div>
        <div class="col-6">
            <p> REDES SOCIALES </p>

            <div class="social"> 
                <a href="https://www.facebook.com/guarderiacaninaislajordancipolletti"  target="_blank"><i class="fab fa-facebook-f"></i></a>
                <a href="https://api.whatsapp.com/send?phone=5492994194451&fbclid=IwAR2rF6hLXZDdD9q5IzmUwCI1t1zlGnhTJZ8z5iN8tr5guwwmgVMuBYJgZwM"  target="_blank"><i class="fab fa-whatsapp"></i></a>
                <a href="https://www.instagram.com/guarderia_canina_isla_jordan/"  target="_blank"><i class="fab fa-instagram"></i></a>

            </div>
            
           
           
        </div>
    



    </div>
   
  </footer>
