<div class="container">
    <br>
    <br>
    <h2>{{unEvento.titulo}}</h2>
    <br>
    <br>
    <figure>
        <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item" *ngFor="let fila of imagenesUnEvento;let index = index;let isFirst = first" [ngClass]="{active:isFirst}">
                    <img [src]="fila.imagen_url" class="d-block w-100" [alt]="" height="550vh">
                </div>
            </div>
           
        </div>
    </figure>
   

    <strong>{{unEvento.fecha_hora}}</strong>
    <p>{{unEvento.ubicacion}}</p>
    <hr>
    <p class="descripcion">{{unEvento.descripcion}}</p>




</div>
<br>
<br>
<br>

