<div class="container">
    <br>
    <br>
    <h2>{{unEvento.titulo}}</h2>
    <br>
    <br>
    <figure>
        <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item" *ngFor="let fila of imagenesUnEvento;let index = index;let isFirst = first" [ngClass]="{active:isFirst}">
                    <img [src]="fila.imagen_url" class="d-block w-100" [alt]="">
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </figure>
   

    <strong>{{unEvento.fecha_hora}}</strong>
    <p>{{unEvento.ubicacion}}</p>
    <hr>
    <p>{{unEvento.descripcion}}</p>




</div>
<br>
<br>
<br>
<app-pie></app-pie>
