h2{
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.descripcion p{
    letter-spacing: .0625rem;
    line-height: 2rem;
    margin-bottom: 32px;
    margin-top: 4vh;
    line-height: 1.5em;
}

