body {
    margin: 0;
  }
  
  .encabezado{
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(https://scontent.fbrc1-1.fna.fbcdn.net/v/t1.6435-9/48393135_969436383265708_558148124149809152_n.jpg?_nc_cat=109&ccb=1-3&_nc_sid=0debeb&_nc_ohc=iidKctyTKUIAX_veL06&_nc_ht=scontent.fbrc1-1.fna&oh=74e2e541dae02b5079a018128f995bf2&oe=609CC502);
    height: 100vh;
  
    background-size: cover;
    background-position: center center;
    position: relative;
  }

  .encabezado h1 {
    text-align: center;
    margin: 0;
    color: #fff;
    padding: 300px 20px;
    font-family: Roboto;
    font-size: 4vw;
  }

  .encabezado h1 span{
      color: #F89738;
  }

  .encabezado a {
    border: 1px solid #fff;
    padding: 10px 25px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    margin-top: 20px;
    display: inline-block;
    color: #fff;
   
}

.encabezado a:hover {
    background: #fff;
    color: tomato;
   
}

  @media(max-width:479px){
    .encabezado{
        height:110vh;
        width: 63vh;
        line-height: 330px;
    }
   
  }

  @media(max-width:767px){
    .encabezado{
        height:360px;
        line-height: 360px;
    }
  }

  @media(max-width:991px){
    .encabezado{
        height:580px;
        line-height: 640px;
    }
  }
 


/* encabezado viejo*/
body {
    font-family: 'Poppins', sans-serif;
}

.wrapper {
    width: 1170px;
    margin: auto;
}

.margen{
    margin-right: 40px;
    margin-left: 40px;
    margin-top: 40px;
   
}
header {
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(https://scontent.fbrc1-1.fna.fbcdn.net/v/t1.6435-9/48393135_969436383265708_558148124149809152_n.jpg?_nc_cat=109&ccb=1-3&_nc_sid=0debeb&_nc_ohc=iidKctyTKUIAX_veL06&_nc_ht=scontent.fbrc1-1.fna&oh=74e2e541dae02b5079a018128f995bf2&oe=609CC502);
    height: 100vh;
    background-size: cover;
    background-position: center center;
    position: relative;
    
}

.nav-area {
    float: right;
    list-style: none;
    margin-top: 30px;
}

.nav-area li {
    display: inline-block;
}

.nav-area li a {
    color: #fff;
    text-decoration: none;
    padding: 5px 20px;
    font-family: poppins;
    font-size: 16px;
    text-transform: uppercase;
}

.nav-area li a:hover {
    background: #fff;
    color: #333;
}

.logo {
    float: left;
}

.logo img {
    width: 100%;
    padding: 15px 0;
    border-radius: 50%;
}

.welcome-text {
    position: absolute;
    width: 600px;
    height: 300px;
    top: 50%;
    left: 25%;
    text-align: center;
}

.welcome-text h1 {

    text-align: center;
    color: #fff;
    text-transform: uppercase;
    font-size: 4vw;
}

.welcome-text h1 span {
    color: #F89738;
}

.welcome-text a {
    border: 1px solid #fff;
    padding: 10px 25px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    margin-top: 20px;
    display: inline-block;
    color: #fff;
}

.welcome-text a:hover {
    background: #fff;
    color: tomato;
}


/*resposive

@media (max-width:600px) {
    .wrapper {
        width: 100%;
    }
    .logo {
        float: none;
        width: 50%;
        text-align: center;
        margin-left: 15%;
    }
    .nav-area {
        float: none;
        margin-top: 0;
    }
    .nav-area li a {
        padding: 5px;
        font-size: 11px;
    }
    .nav-area {
        text-align: center;
    }
    .welcome-text {
        width: 100%;
        height: auto;
        margin: 30% 0;
    }
    .welcome-text h1 {
        font-size: 30px;
    }
}*/

a {
    text-decoration: none;
}

.social a {
    padding: 30px;
    color: #7b7c7c;
    font-size: 1.5rem;
}

#contact {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
}

.social {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.1);
    border-radius: 5%;
}

.social a:hover {
    color: #F89738;
}

.contact-box {
    background-color: #030708;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 30px;
    box-shadow: 2px 0px 30px rgba(0, 0, 0, 0.1);
    border-radius: 5%;
}

.c-heading h1 {
    font-family: Roboto;
    color: #e7eef3;
    font-size: 2.5rem;
    font-weight: lighter;
    margin: 0px;
    padding: 0px;
}

.c-heading p {
    font-family: Roboto;
    color: #cecece;
    font-size: 0.8rem;
    font-weight: lighter;
    margin: 0px;
    padding: 0px;
    text-align: center;
}

.c-inputs {
    margin: 15px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.c-inputs input {
    width: 250px;
    height: 45px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid rgba(251, 251, 251, 0.1);
    outline: none;
    margin: 10px 0px;
    padding: 10px;
    box-sizing: border-box;
    color: #f4f4f4;
    display: flex;
}

.c-inputs textarea {
    width: 250px !important;
    height: 200px !important;
    outline: none;
    background-color: transparent;
    border: 1px solid rgba(82, 82, 82, 1);
    color: #f4f4f4;
    padding: 10px;
    font-size: 1.2rem;
    box-sizing: border-box;
}

.c-inputs button {
    width: 200px;
    height: 40px;
    background-color: #FFFFFF;
    border: none;
    outline: none;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.1);
    letter-spacing: 1px;
}

.c-inputs input:focus {
    border-bottom: 1px solid rgba(252, 252, 252, 1.00);
    transition: all ease 0.5s;
}

.c-inputs textarea:focus {
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 1.00);
    transition: all ease 0.5s;
    background-color: rgba(0, 0, 0, 0.1);
}

.c-inputs button:active {
    transform: scale(1.02);
}

.map {
    filter: grayscale(0.2);
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.2);
    border: 1px solid #FFFFFF;
    border-radius: 5%;
}

@media(max-width:1100px) {
    .map {
        display: none;
    }
}

@media(max-width:450px) {
    .social {
        display: none;
    }
    .contact-box {
        width: 100%;
        height: 100vh;
        box-sizing: border-box;
    }
    #contact {
        position: static;
        width: 100%;
        height: 100vh;
        box-sizing: border-box;
    }
    .c-heading h1 {
        font-size: 2.2rem;
        text-align: center;
    }
}




.btn{
   margin-top: 3vh;
    background-color: #FFFFFF;
  
}




p{
    color:teal;
    font-weight: 700;
}

h1 { font-size: 25px; }
  
  .Heading_magnitude-2__3nlAC {

    line-height: 1em;
    padding: 1em;
    margin: 1em;
    display: block;
  }
  
  
  
  .Heading_title__D47fZ {
    font-weight: 700;
    display: block;
    text-align: center;
    
  }
  
  
  
  .Heading_title__D47fZ:not(.Heading_ornament-on-mobile__16QpF):after {
    display: block;
  }
  
  .Heading_title__D47fZ:not(.Heading_ornament-on-mobile__16QpF):after {
    display: block;
  }
  
  .Heading_title__D47fZ:after {
    background: linear-gradient(
  131.14deg
  ,#F89738 4.53%,#F89738 70.61%,#F89738 102.64%)!important;
    content: "";
    margin-top: 15px;
    height: .225rem;
    width: 3.75rem;
    display: block;

    margin: .5rem auto 0;
 
  }


/*imagen circular*/

.imagen_circular{
    display: flex;
    justify-content: center;
    margin-left: 20px;
  

}

.imagen_circular img{
    border: 5px solid #E5E8E8;
}
@media (max-width: 991px){
    .img-fluid{
      width: 15vh;
    }


}
img.rounded-circle{
    margin-left: 20px;
    border-radius: 50%;
 
}

.adopta{
    display: flex;
    justify-content: center;
}


/*banner*/


img.banner {
    margin-bottom: 30px;
    max-width: 85%;
}
.banner {
    display: block;
    margin-left: auto;
    margin-right: auto;
    cursor:pointer;
}


img {
    height: auto;
  
}
   
.btn-wsp{
    position:fixed;
    width:60px;
    height:60px;
    line-height: 63px;
    bottom:25px;
    right:25px;
    background:#25d366;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    font-size:30px;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.3);
    z-index:100;
    transition: all 300ms ease;
}
.btn-wsp:hover{
    background: #20ba5a;
}
@media only screen and (min-width:320px) and (max-width:768px){
    .btn-wsp{
        width:63px;
        height:63px;
        line-height: 66px;
	}
}

