<br>
<div class="container">
  <br><div class="Spacer TitleText_title-text__16lAf" >
    <h1 class="Heading_title__D47fZ TitleText_title__3squ5 Heading_magnitude-2__3nlAC Heading_no-uppercase__1FYqt">
         CONTACTANOS
    </h1>
</div>
</div>
<br>
<br>
<div class="container">

    <div class="card" style="max-width: 40rem;">
       
        <div class="card-body">
            <form>

                <!--<input formControlName="id_formulario" type="text" type="hidden">-->

                <div class="form-group">
                    <h3>Nombre y Apellido</h3>
                    <input class="form-control">

                </div>

                <div class="form-group">
                    <h3>Gmail</h3>
                    <input class="form-control">

          
                </div>

                <div class="form-group">
                    <h3>Asunto</h3>
                    <input class="form-control">
                </div>

                <div class="form-group">
                    <h3>Mensaje</h3>
                    <textarea class="form-control"></textarea>
                </div>


                <button type="button" class="btn btn-outline-danger">ENVIAR</button>
            </form>
        </div>
    </div>
  </div>
  <br>
<br>
<br>
<br>
  <a href="https://api.whatsapp.com/send?phone=+51987654321" class="btn-wsp" target="_blank">
    <i class="fab fa-whatsapp"></i>



  





