
.card{

	
    display: block;
}
h3{
    font-size: 1em;
}

.btn{
	border-radius: 0px;
}

.advertencia{
    margin-right: 40px;

}
 
.Heading_magnitude-2__3nlAC {
    font-size: 1.575rem;
  }
  
  
  
  .Heading_title__D47fZ {
    font-weight: 700;
    
  }
  
  
  
  .Heading_title__D47fZ:not(.Heading_ornament-on-mobile__16QpF):after {
    display: block;
  }
  
  .Heading_title__D47fZ:not(.Heading_ornament-on-mobile__16QpF):after {
    display: block;
  }
  
  .Heading_title__D47fZ:after {
    background: linear-gradient(
  131.14deg
  ,#F89738 4.53%,#F89738 70.61%,#F89738 102.64%)!important;
    content: "";
    margin-top: 15px;
    height: .225rem;
    width: 3.75rem;
  }

     
.btn-wsp{
    position:fixed;
    width:60px;
    height:60px;
    line-height: 63px;
    bottom:25px;
    right:25px;
    background:#25d366;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    font-size:30px;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.3);
    z-index:100;
    transition: all 300ms ease;
}
.btn-wsp:hover{
    background: #20ba5a;
}
@media only screen and (min-width:320px) and (max-width:768px){
    .btn-wsp{
        width:63px;
        height:63px;
        line-height: 66px;
	}
}
