<br>
<div class="container">
    <div class="Spacer TitleText_title-text__16lAf" >
        <h1 class="Heading_title__D47fZ TitleText_title__3squ5 Heading_magnitude-2__3nlAC Heading_no-uppercase__1FYqt">
     REQUISITOS
        </h1>
    </div>
</div>

<br>
<div class="div container">
    <div class="row">
        <div class="col-lg-6">
            <p>Es importante que a la hora de postularse  tenga  en cuenta que adoptar es un acto de amor y compromiso</p>
                <ul>
                    <li>Debe contar con un espacio cerrado y seguro donde el jordán pueda adaptarse a su nuevo hogar </li><br>
                    <li> Contar con dedicacion y paciencia ya que un cambio brusco de hábitat puede estresar o probocar temor  al jordan </li><br>
                    <li>También los costos asociados a su alimentación y atención veterinaria</li><br>
                   
 
                </ul>

            
            <br>
           
        </div>
        <div class="col-lg-6">
            
            <img class="adopcion" src="assets/adopcion1.jpg" width="85%">
        </div>
    </div>
    <div class="row">
        <div class="div container">
            <br>
            <div class="progress" style="height: 1px;">
                <div class="progress-bar bg-danger" role="progressbar" style="width: 100%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <br>
            <p>
            Nosotros hacemos seguimiento de por vida del animal.<br>
            Vamos a pedirle que nos mande fotos y videos para que estemos al tanto de su crecimiento y adaptación.<br>
            </p>

            <p><strong>
                <img src="assets/advertencia.ico" height="20px" > Las adopciones se limitan a Rio Negro, Neuquen y barrios aledaños, a menos que cuente con la posibilidad de buscarlo en auto.
            </strong>
               
            
            </p>

            

        </div>
    </div>
    <br>
    <div class="row">
        <div class="row-container">
            <div class="progress" style="height: 1px;">
                <div class="progress-bar bg-danger" role="progressbar" style="width: 100%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <br>
            <div class="jumbotron">
                <h4><strong>QUERIDO LECTOR:</strong></h4>
                <p class="lead">
                   Si ya lo decidió y se siente capacitado, es momento de comenzar con el proceso de adopción. 
                    Lo invitamos a que pida asesoramiento a traves de nuestro formulario de contacto o whatsapp.         
                    
                </p>
               <!-- <a  routerLink="/nuestros-jordanes">Jordanes</a> -->
            </div>
        </div>
    </div>
    

</div>
<a href="https://api.whatsapp.com/send?phone=+51987654321" class="btn-wsp" target="_blank">
    <i class="fab fa-whatsapp"></i>
