.alert{ background-color: hsl(22, 83%, 72%); }

img{
    width: 65%;
    height: 30%;
    /*Centrar imagen*/
    display: block;
    margin: auto;

}

.btn{
    display: block;
    margin: auto;
    border-radius: 0px;

}