<br>
<div class="container">
    <div class="Spacer TitleText_title-text__16lAf" >
        <h1 class="Heading_title__D47fZ TitleText_title__3squ5 Heading_magnitude-2__3nlAC Heading_no-uppercase__1FYqt">
        COLABORA CON LOS JORDANES
        </h1>
    </div>
</div>
<br>
<div class="div container">
    <div>
    <strong>Si desea un recibo de la donanción otorgada comuniquese con nosotros.</strong>
    </div>
</div>
<br>
<br>
<div class="div container">
    <div class="row">
        <div class="col-md-6">
            <H3>Doná
                <STRONG>INSUMOS</STRONG>
            </H3>
            <hr>
            <p><strong>Tu aporte nos permite continuar llevando a cabo actividades sanitarias, educativas y de asistencialismo.</strong></p>
            Lo que podes donar:
            <li>Antiparasitarios en comprimidos o suspensión.</li>
            <li>Antipulgas para perros.</li>
            <li>Elementos de limpieza (Lavandina, Detergente, Cif, Baldes, Etc).</li>
            <li>Elementos de Curación (Gasas, Algodón, Guantes de Látex, Agua Oxigenada, Alcohol, Etc).</li>
            <li>Ropa de invierno, frazadas, mantas, almohadones, colchones, etc (lo que ayude a que nuestros jordanes pasar el frío).</li>
            <li>Alimento.</li>
            <li>Aserrín.</li>
        </div>
        <div class="col-md-6">
            <H3>Doná a través de
                <STRONG>MERCADOPAGO</STRONG>
            </H3>
            <hr><br>
            <button type="button" class="btn btn-danger center-block" a target="_blank" href="https://mpago.la/1nrKwL1">MERCADOPAGO</button>
           
            
            <br>
            <br>


            
           
           
            <H3>
                TRANSFERENCIA 
                <STRONG>BANCARIA</STRONG>
            </H3>
            <hr><br>
            <div class="jumbotron">
                <p>Número de Cuenta CC en Pesos 126-022321/0</p> 
                <p> Número de CBU 0720126020000002232104</p>
                <p>
                    Razón Social FUNDACION SOS ANIMAL CIPO</p>
                <p> CUIT/CUIL 30716984121</p>
            </div>
           

        </div>
    </div>
</div>
<a href="https://api.whatsapp.com/send?phone=+51987654321" class="btn-wsp" target="_blank">
    <i class="fab fa-whatsapp"></i>