<!--<div class="p-3">
    <div class="row">
        <div class="col-sm-12 col-lg-8" [style]="display">
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <input placeholder="Buscar" [(ngModel)]="buscarFormulario" type="text" class="form-control">
                    </div>
                </div>
            </div>

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nombre y Apellido</th>
                        <th>Email</th>
                        <th>Asunto</th>
                        <th>Mensaje</th>

                        <th>Operaciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let contacto of contacto | filter:buscarFormulario | paginate:{itemsPerPage:10,currentPage:p}">
                        <td>{{contacto.id_contacto}}</td>
                        <td>{{contacto.nombre}}</td>
                        <td>{{contacto.email}}</td>
                        <td>{{contacto.asunto}}</td>
                        <td>{{contacto.mensaje}}</td>
                        
                        <td>
                            <div class="btn-group btn-group-sm">
                                <button (click)="eliminarContacto(contacto.id_contacto)" class="btn btn-danger">Eliminar</button>
                                <button (click)="editarContacto(contacto)" class="btn btn-primary">Editar</button>

                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="row">
                <div class="col-sm-5">
                    <pagination-controls (pageChange)="p = $event"></pagination-controls>
                </div>
            </div>

        </div>

    </div>
</div> -->


