<div class="row">
    <div class="col-4">
        <div class="form-group">
            <input placeholder="Buscar" type="text" class="buscador">
        </div>
        

    </div>
    <div class="col-4">
        <div class="img-div-center">
            <img src="assets/logosinbg.png"  class="img-centro-vert-hor" alt="">
        </div>

    </div>
    <div class="col-4">
        <img src="assets/user.png" class="carrito" height="30px">
        <img src="assets/icon_carrito2.png" class="carrito" height="30px">
    
        
    </div>
</div>


<div class="container"> 
    <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link active" data-toggle="tab" href="#home">Todos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#profile">Indumentaria</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  data-toggle="tab" href="#accesorios">Accesorios</a>
        </li>
        
    </ul>

</div>



<div class="container">
  <div id="myTabContent" class="tab-content">
    <div class="tab-pane fade show active" id="home">
  
        <div class="row">
            
            <div class="card border-primary mb-3" style="max-width: 20rem;">
                <div class="card-body">
                    <img src="assets/remera.jpg" class="imagen" style="height: 200px;" alt="...">
                        <h5>REMERA</h5>
                        <h4>$1000</h4>

                        <button type="button" class="btn btn-danger center-block">COMPRAR</button>
                    
                </div>
              </div>
              <div class="card border-primary mb-3" style="max-width: 20rem;">
                <div class="card-body">
                    <img src="assets/remera2.jpg" class="imagen" style="height: 200px;" alt="...">
                        <h5>REMERA NEGRA</h5>
                        <h4>$1000</h4>

                        <button type="button" class="btn btn-danger center-block">COMPRAR</button>
                    
                </div>
              </div>
              

        
              <div class="card border-primary mb-3" style="max-width: 20rem;">
                <div class="card-body">
                    <img src="assets/bolsa.jpg" class="imagen" style="height: 200px;" alt="...">
                        <h5>BOLSA ECOLOGICA</h5>
                        <h4>$300</h4>

                        <button type="button" class="btn btn-danger center-block">COMPRAR</button>
                    
                </div>
              </div>
              <div class="card border-primary mb-3" style="max-width: 20rem;">
                <div class="card-body">
                    <img src="assets/bolsa2.jpg" class="imagen" style="height: 200px;" alt="...">
                        <h5>BOLSA ECOLOGICA
                            <br> NEGRA</h5>
                        <h4>$300</h4>

                        <button type="button" class="btn btn-danger center-block">COMPRAR</button>
                    
                </div>
              </div>
            
     

        
        </div>
        <br>
        <br>
        <div class="row">
            
                <div class="card border-primary mb-3" style="max-width: 20rem;">
                    <div class="card-body">
                        <img src="assets/billetera.jpg" class="imagen" style="height: 200px;" alt="...">
                            <h5>BILLETERA</h5>
                            <h4>$200</h4>
    
                            <button type="button" class="btn btn-danger center-block">COMPRAR</button>
                        
                    </div>
                  </div>

                  <div class="card border-primary mb-3" style="max-width: 20rem;">
                    <div class="card-body">
                        <img src="assets/cuaderno.jpg" class="imagen" style="height: 200px;" alt="...">
                            <h5>CUADERNO</h5>
                            <h4>$400</h4>
    
                            <button type="button" class="btn btn-danger center-block">COMPRAR</button>
                        
                    </div>
                  </div>
              

        
      
            
                  <div class="card border-primary mb-3" style="max-width: 20rem;">
                    <div class="card-body">
                        <img src="assets/taza.jpg" class="imagen" style="height: 200px;" alt="...">
                            <h5>TAZA</h5>
                            <h4>$400</h4>
    
                            <button type="button" class="btn btn-danger center-block">COMPRAR</button>
                        
                    </div>
                  </div>
                  <div class="card border-primary mb-3" style="max-width: 20rem;">
                    <div class="card-body">
                        <img src="assets/calendario.jpg" class="imagen" style="height: 200px;" alt="...">
                            <h5>CALENDARIO 2021</h5>
                            <h4>$100</h4>
    
                            <button type="button" class="btn btn-danger center-block">COMPRAR</button>
                        
                    </div>
                  </div>
            
     

        
        </div>
        
    </div>



    <div class="tab-pane fade" id="profile">
        <div class="row">
            
            <div class="card border-primary mb-3" style="max-width: 20rem;">
                <div class="card-body">
                    <img src="assets/remera.jpg" class="imagen" style="height: 200px;" alt="...">
                        <h5>REMERA</h5>
                        <h4>$1000</h4>

                        <button type="button" class="btn btn-danger center-block">COMPRAR</button>
                    
                </div>
              </div>
              <div class="card border-primary mb-3" style="max-width: 20rem;">
                <div class="card-body">
                    <img src="assets/remera2.jpg" class="imagen" style="height: 200px;" alt="...">
                        <h5>REMERA NEGRA</h5>
                        <h4>$1000</h4>

                        <button type="button" class="btn btn-danger center-block">COMPRAR</button>
                    
                </div>
              </div>
              

        
              <div class="card border-primary mb-3" style="max-width: 20rem;">
                <div class="card-body">
                    <img src="assets/bolsa.jpg" class="imagen" style="height: 200px;" alt="...">
                        <h5>BOLSA ECOLOGICA</h5>
                        <h4>$300</h4>

                        <button type="button" class="btn btn-danger center-block">COMPRAR</button>
                    
                </div>
              </div>
              <div class="card border-primary mb-3" style="max-width: 20rem;">
                <div class="card-body">
                    <img src="assets/bolsa2.jpg" class="imagen" style="height: 200px;" alt="...">
                        <h5>BOLSA ECOLOGICA
                            <br> NEGRA</h5>
                        <h4>$300</h4>

                        <button type="button" class="btn btn-danger center-block">COMPRAR</button>
                    
                </div>
              </div>
            
     

        
        </div>
      
    </div>
    <div class="tab-pane fade" id="accesorios">
        <div class="row">
            
            <div class="card border-primary mb-3" style="max-width: 20rem;">
                <div class="card-body">
                    <img src="assets/billetera.jpg" class="imagen" style="height: 200px;" alt="...">
                        <h5>BILLETERA</h5>
                        <h4>$200</h4>

                        <button type="button" class="btn btn-danger center-block">COMPRAR</button>
                    
                </div>
              </div>

              <div class="card border-primary mb-3" style="max-width: 20rem;">
                <div class="card-body">
                    <img src="assets/cuaderno.jpg" class="imagen" style="height: 200px;" alt="...">
                        <h5>CUADERNO</h5>
                        <h4>$400</h4>

                        <button type="button" class="btn btn-danger center-block">COMPRAR</button>
                    
                </div>
              </div>
          

    
  
        
              <div class="card border-primary mb-3" style="max-width: 20rem;">
                <div class="card-body">
                    <img src="assets/taza.jpg" class="imagen" style="height: 200px;" alt="...">
                        <h5>TAZA</h5>
                        <h4>$400</h4>

                        <button type="button" class="btn btn-danger center-block">COMPRAR</button>
                    
                </div>
              </div>
              <div class="card border-primary mb-3" style="max-width: 20rem;">
                <div class="card-body">
                    <img src="assets/calendario.jpg" class="imagen" style="height: 200px;" alt="...">
                        <h5>CALENDARIO 2021</h5>
                        <h4>$100</h4>

                        <button type="button" class="btn btn-danger center-block">COMPRAR</button>
                    
                </div>
              </div>
        
 

    
    </div>
    </div>
    
  </div>
</div>
<footer>
    <div class="row">
        <div class="col-6">
            
    <p>Author: Hege Refsnes<br>
        </div>
        <div class="col-6">
            <p> REDES SOCIALES </p>

            <div class="social"> 
                <a href="https://www.facebook.com/guarderiacaninaislajordancipolletti"  target="_blank"><i class="fab fa-facebook-f"></i></a>
                <a href="https://api.whatsapp.com/send?phone=5492994194451&fbclid=IwAR2rF6hLXZDdD9q5IzmUwCI1t1zlGnhTJZ8z5iN8tr5guwwmgVMuBYJgZwM"  target="_blank"><i class="fab fa-whatsapp"></i></a>
                <a href="https://www.instagram.com/guarderia_canina_isla_jordan/"  target="_blank"><i class="fab fa-instagram"></i></a>
            </div> 
        </div>
    </div>
</footer>
