<div class="div container">
    <br>
    <br>
    <div class="row">
        <div class="col-lg-6">
            <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item" *ngFor="let fila of imagenesUnCanino;let index = index;let isFirst = first" [ngClass]="{active:isFirst}">
                        <img [src]="fila.imagen_url" class="d-block w-100" [alt]="">
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>

        </div>



        <div class="col-lg-6">
            <div class="card border-primary mb-3" style="max-width: 30rem;">
                <div class="card-header">
                    <h4><strong>{{unCanino.nombre}}</strong></h4> </div>
                <div class="card-body">
                  
                            <h5><strong>EDAD:</strong>{{unCanino.edad}}<br></h5>

                            <div *ngIf="unCanino.sexo == 0">
                                <span class="badge badge-primary">Sexo Hembra</span>
                            </div>
                            <div *ngIf="unCanino.sexo == 1">
                                <span class="badge badge-primary"> Macho</span>
                            </div>
                            <div *ngIf="unCanino.sexo == 2">
                                <span class="badge badge-danger">Sexo No Registrado</span>
                            </div>

                            <div *ngIf="unCanino.tamanio == 0">
                                <span class="badge badge-primary">Tamaño Pequeño</span>
                            </div>
                            <div *ngIf="unCanino.tamanio == 1">
                                <span class="badge badge-primary">Tamaño Mediano</span>
                            </div>
                            <div *ngIf="unCanino.tamanio == 2">
                                <span class="badge badge-primary">Tamaño Grande</span>
                            </div>
                            <div *ngIf="unCanino.tamanio == 3">
                                <span class="badge badge-danger">Tamaño No Registrado</span>
                            </div>

                           <h5> <strong>DESCRIPCIÓN:</strong></h5>
                            {{unCanino.descripcion}}<br>
                            <br>
                            <button type="button" class="btn btn-outline-danger" routerLink="/formulario-public" >ADOPTAME</button>

                  
                </div>
              </div>

        </div>
    </div>
</div>
<br>
<app-pie></app-pie>
