<div class="div container">
    <br>
    <br>
    <div class="row">
        <div class="col-lg-6">
            <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel" style="max-width: 25rem;">
                <div class="carousel-inner">
                    <div class="carousel-item" *ngFor="let fila of imagenesUnCanino;let index = index;let isFirst = first" [ngClass]="{active:isFirst}">
                        <img [src]="fila.imagen_url" class="d-block w-100" [alt]="">
                    </div>
                </div>
        
            </div>

        </div>
<br>



      
            <div class="card border-0 mb-3" style="max-width: 30rem;">
                <div class="card-header">
                    <h4><strong>{{unCanino.nombre}}</strong></h4> </div>
                <div class="card-body">
                  
                            <h5><strong>EDAD:</strong> {{unCanino.edad}}<br></h5>

                            

                            <div *ngIf="unCanino.tamanio == 0">
                                <span class="badge badge-primary">Tamaño Pequeño</span>
                            </div>
                            <div *ngIf="unCanino.tamanio == 1">
                                <span class="badge badge-primary">Tamaño Mediano</span>
                            </div>
                            <div *ngIf="unCanino.tamanio == 2">
                                <span class="badge badge-primary">Tamaño Grande</span>
                            </div>
                            <div *ngIf="unCanino.tamanio == 3">
                                <span class="badge badge-danger">Tamaño No Registrado</span>
                            </div>
                            <br>

                           <h5> <strong>DESCRIPCIÓN:</strong></h5>
                            {{unCanino.descripcion}}<br>
                            <br>
                            <div class="adopcion"> 
                                <p>Si desea postularse para brindarle amor y un hogar a {{unCanino.nombre}} comuniquese con nosotros
                                    via mail o whatsapp. Por favor antes verifique que cumple con los  <a  routerLink="/requisitos-adopcion">requisitos</a> basicos para realizar la adopción.</p>
                            </div>
                           

                  
                </div>
              </div>

        
    </div>
</div>
<br>
<br>
<app-pie></app-pie>
